body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1f2937;
    display: flex;
}

.header .title {
    color: #F9FAF7;
    align-self: center;
    margin-left: 200px;
    font-size: 24px;
}


.header-links {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: auto;
    margin-right: 200px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}


.content {
    display: flex;
    flex-direction: column;
}

.description {
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #1f2937;
    gap: 60px;
}

.description .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.description .text .title-text {
    color: #F9FAF7;
    font-size: 48px;
    font-weight: 800;
}

.description .text .subtext {
    color: #E5E7EB;
    font-size: 18px;
}

.title-image {
    width: 600px;
    height: 235px;

    flex: 0 0 auto;
    background-color: #73767c;
}

.title-sign-up {
    align-self: flex-start;
    padding: 10px;
    border-radius: 8px;
    border-style: none;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #3882f6;
    color: #F9FAF7;
    font-size: 20px;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    margin-bottom: 70px;

}

.information-title {
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 40px;

}

.illustration {

    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    flex: 1 0 auto;
    gap: 50px;
    flex-wrap: wrap;
}

.illustration-image {
    border: 3px solid #3882f6;
    border-radius: 15px;
    width: inherit;
    height: 200px;

    flex: 0 0 auto;

}

.illustration li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    width: 200px;
    gap: 10px;
    font-size: 22px;
    color: #1f2937;
}


.quote {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 70px;
    padding-right: 300px;
    padding-left: 300px;


}

.quote-body {
    font-size: 36px;
    font-style:italic;
    font-weight: 400;
    color: #1f2937;
}

.quote-author {
    font-size: 30px;
    font-weight: 700;
    align-self: flex-end;
    margin-right: 40px;
}

